# Arquivos byte-compiled / otimizados / DLL
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Distribuição / empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs do instalador
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de teste de unidade / cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Traduções
*.mo
*.pot

# Configurações locais do Django:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Configurações do Flask:
instance/
.webassets-cache

# Configurações do Scrapy:
.scrapy

# Documentação Sphinx
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# Pipfile.lock é recomendado para inclusão no controle de versão.
# No entanto, em caso de colaboração, pode haver problemas de compatibilidade.
# Pipfile.lock

# PEP 582; usado por e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Configurações do Celery
celerybeat-schedule
celerybeat.pid

# Arquivos analisados pelo SageMath
*.sage.py

# Ambientes
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configurações do projeto Spyder
.spyderproject
.spyproject

# Configurações do projeto Rope
.ropeproject

# Documentação mkdocs
/site

# Cache do mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Verificador de tipo Pyre
.pyre/
